@page
@model CodeCracker.Pages.PuzzleResultsModel;
@{
    Layout = null;
}
<html>
    <head>
        <title>Solved Code Cracker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet'>
        <style type='text/css'>
            body { background: #e3cd73; color: #000000; margin-right: 20px; margin-left: 20px; font-size: 14px; font-family: Arial, sans-serif, sans; }
            h1 { color: #000000; font-size: 36px; text-align: center; }
            h2 { text-align: center; font-size: 20px; }
            table.result { border: 1px solid #000000; margin-left: auto; margin-right: auto; padding: 0px; border-spacing: 0px; font-family: sans; font-size: 170%;}
            table.result td { border: 1px solid #000000; padding: 0px; background: #ffffff; text-align: center; width: 32px; height: 30px; font-family: 'Patrick Hand'; line-height: 0%}
            table tr td.blank {background: #000000;}
            div.small{ font-size: 55%; text-align: left; line-height: 100%; position: relative; bottom:9px; left:1px;}
            div.regular{ position: relative; bottom:4px;}
        </style>
    </head>
    <body>
        <h1>@Model.solvedPuzzle.GetTitle()</h1>
        <table class='result'>
            @for (int i = 0; i < Model.solvedPuzzle.GetGridHeight(); i++)
            {
                <tr>
                @for (int j = 0; j < Model.solvedPuzzle.GetGridWidth(); j++)
                {
                    @if (Model.solvedPuzzle.IsGridSquareBlank(i, j))
                    {
                        <td class='blank'></td>
                    }
                    else
                    {
                        <td>
                            <div class='small'>@Model.solvedPuzzle.GetGridNumberAsString(i, j)</div>
                            <br>
                            <div class='regular'>@Model.solvedPuzzle.GetEncodedLetter(i, j)</div>
                        </td>
                    }
                }
                </tr>
            }
        </table>
        <h2>Letters:</h2>
        <table class='result'>
            <tr>
                @for (int i = 1; i <= 13; i++)
                {
                    <td>
                        <div class='small'>@i</div>
                        <br>
                        <div class='regular'>@Model.solvedPuzzle.GetEncodedLetter(i)</div>
                    </td>
                }
            </tr>
            <tr>
                @for (int i = 14; i <= 26; i++)
                {
                    <td>
                        <div class='small'>@i</div>
                        <br>
                        <div class='regular'>@Model.solvedPuzzle.GetEncodedLetter(i)</div>
                    </td>
                }
            </tr>
        </table>
    </body>
</html>